<div id="<%= dom_id dance_class %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= dance_class.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= dance_class.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Schedule:</strong>
    <%= dance_class.schedule %>
  </div>
</div>
